html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "muli", sans-serif;
}

.container {
  margin: 0 auto;
  display: block;
}

.main-button {
  font-weight: 300;
  font-size: 14px;
  width: 100px;
  height: 14px;
  letter-spacing: 0;
  line-height: 144px;
  text-align: left;
  border-radius: 7px;
  padding: 19px 34px 16px 31px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.navigation .logo {
  padding: 10px;
  margin-left: -30px;
}

.navigation .logo a {
  text-decoration: none;
  padding: 5px;
}

.navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation .nav-list li {
  padding: 30px;
  margin-top: -30px;
}

.navigation .nav-list li a {
  text-decoration: none;
  color: #5e6a8b;
  font-size: 16px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 0;
}

.navigation .nav-list li .home {
  color: #5874ff;
}

.navigation .nav-list li .my-account {
  background-color: #f97d7d;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: bold;
  margin-left: 10px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 50px;
}

.header .container .intro h1 {
  font-size: 64px;
  text-align: left;
  line-height: 77px;
  letter-spacing: 0;
  color: #5874ff;
  font-weight: 300;
  width: 440px;
  height: 141px;
}

.header .container .intro p {
  font-size: 16px;
  text-align: left;
  line-height: 34px;
  letter-spacing: 0;
  color: #5e6a8b;
  font-weight: 300;
  width: 504px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.header .container .get-started {
  background-color: #5874ff;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

.header .container .watch {
  font-size: 14px;
  font-weight: bold;
  line-height: 144px;
  letter-spacing: 0;
  width: 107px;
  height: 14px;
  text-align: left;
  color: #5e6a8b;
  text-decoration: none;
}

.header .container .watch img {
  margin-bottom: -5px;
}

.first .second-container {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px;
  margin-top: 50px;
}

.first .second-container .focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first .second-container .productivity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px;
}

.first .second-container .resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first .second-container cite {
  font-size: 14px;
  text-align: left;
  font-weight: 300;
  line-height: 30px;
  color: #f97d7d;
  font-style: normal;
}

.first .second-container h2 {
  font-size: 28px;
  font-weight: 300;
  text-align: left;
  line-height: 34px;
  letter-spacing: 0;
  width: 287px;
  height: 62px;
  color: #363636;
}

.first .second-container p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  line-height: 34px;
  letter-spacing: 0;
  width: 549px;
  height: 168px;
  color: #5e6a8b;
}

.first .second-container a {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  line-height: 34px;
  letter-spacing: 0;
  width: 76px;
  height: 14px;
  color: #1f64ff;
  text-decoration: none;
  border-bottom: 3px solid #f97d7d;
  padding: 5px;
}

.second .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 100px;
}

.second .container .first-h5 {
  color: #363636;
}

.second .container .second-h5 {
  color: #FFFFFF;
}

.second .container h5 {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0;
  padding: 10px;
  margin-left: 40px;
}

.second .container p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  width: 430px;
  height: 67px;
  letter-spacing: 0;
  padding: 10px;
}

.second .container .ready {
  width: 530px;
  height: 178px;
  border-radius: 12px;
  border-bottom: 12px solid #5874ff;
  text-align: -webkit-center;
  color: #5E6A8B;
}

.second .container .talk {
  width: 530px;
  height: 178px;
  border-radius: 12px;
  background: #FF7979;
  text-align: -webkit-center;
  color: #FFFFFF;
}

.third .container .subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.third .container ul li {
  text-decoration: none;
  list-style: none;
}

.third .container ul li h5 {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 0;
  width: 123px;
  height: 45px;
  text-align: left;
  margin-left: 70px;
  margin-bottom: 40px;
}

.third .container ul li p {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  width: 279px;
  height: 139px;
  text-align: center;
  padding: 10px;
  color: #364F69;
}

.third .container ul li h6 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0;
  width: 78px;
  height: 32px;
  text-align: center;
  padding: 10px;
  color: #F97D7D;
  margin: -55px 0 0 90px;
}

.third .container ul li .pro {
  margin-left: 100px;
}

.third .container ul li .Agency {
  margin-left: 60px;
}

.third .container ul li .basic-button {
  background: #FF7979;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 50px;
}

.third .container ul li .pro-button {
  background: #000;
  color: #fff;
  text-decoration: none;
  margin-left: 75px;
}
/*# sourceMappingURL=main.css.map */