.sixth {
    margin-bottom: 80px;
    .list {
        display: flex;
        justify-content: space-evenly;
        
        li {
            list-style: none;
            width: 334px;
            height: 162px;
            border-radius: 12px;
            box-shadow: 0 10px 34px;
        }

        h5 {
            font-size: 16px;
            font-weight: 300;
            margin-left: 40px;
        }

        p {
            font-size: 14px;
            line-height: 28px;
            width: 215px;
            margin-left: 40px;
        }

        .first-list {
            background: var(--color3);
            color: var(--color-white);
            background-image: url('/images/peanut-3.png');

            img {
                margin-left: 15px;
            }
        }

        .second-list {
            color: var(--color1);

            img {
                margin-left: 15px;
            }
        }

        .second-lists {
            background-image: url('/images/peanut-4.png');
        }

        .third-list {
            background-image: url('/images/peanut-5.png');
        }

        .docs {
            color: var(--color3);
        }
    }
}